
 
  <script type="text/javascript">
  
    function updateChart(event) {
    
      var sel_user = "";
      var source_select = this.id;
      var chart_number = parseInt(source_select.charAt(source_select.length-1));
      
      % if staff_access:
      var video_name = "";
      // Controls whether a student or video was selected
      if (source_select.indexOf("student") > -1) {
	// student selected
	sel_user = this.value;
	// Is there a video selection menu for this chart?
	try {
	  video_name = document.getElementById("video_select"+chart_number).value;
	}
	catch (err) {
	  video_name = "";
	}
      } else if (source_select.indexOf("video") > -1) {
	// video selected
	video_name = this.value;
	sel_user = document.getElementById("student_select"+chart_number).value;
      }
      % else:
      var video_name = this.value;
      % endif

      $.ajax({
	// the URL for the request
	url: "/courses/${course.id}/xinsider/chart_update",
    
	// the data to send (will be converted to a query string)
	data: {
	    user_id   : sel_user,
	    //course_id : '${course.id}',
	    chart : chart_number,
	    video : video_name
	},
	
	// whether to convert data to a query string or not
	// for non convertible data should be set to false to avoid errors
	processData: true,
    
	// whether this is a POST or GET request
	type: "GET",
    
	// the type of data we expect back
	dataType : "json",
    
	// code to run if the request succeeds;
	// the response is passed to the function
	success: function( json ) {
	    console.log("Received:\n" + json);
	    reDrawChart(chart_number, json);
	},
    
	// code to run if the request fails; the raw request and
	// status codes are passed to the function
	error: function( xhr, status, errorThrown ) {
	    console.log( "Error: " + errorThrown );
	    console.log( "Status: " + status );
	    console.dir( xhr );
	},
    
	// code to run regardless of success or failure
	complete: function( xhr, status ) {
	    console.log( "The request is complete! Status: " + status);
	}      
      });
    }
    
    function addChangeHandlers() {

      % if staff_access:
      $("#student_select1").change(updateChart);
      $("#student_select2").change(updateChart);
      $("#student_select3").change(updateChart);
      $("#student_select4").change(updateChart);
      $("#student_select5").change(updateChart);
      $("#student_select6").change(updateChart);
      % endif
      
      $("#video_select4").change(updateChart);
      $("#video_select6").change(updateChart);
      
    }
    
    $(document).ready(addChangeHandlers);    
    
    function reDrawChart(chart_number, json) {
    
      switch(chart_number) {
      
        % if staff_access:
	case 1:
	    drawChart1(json);
	    break;
	case 2:
	    drawChart2(json);
	    break;
	case 3:
	    drawChart3(json);
	    break;
	case 5:
	    drawChart5(json);
	    break;
	% endif
	case 4:
	    drawChart4(json);
	    break;
	case 6:
	    drawChart6(json);
	    break;	    
      }
      
    }
    
  </script> 
  