<%namespace name='static' file='/static_content.html'/>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!--Load test graph -->
<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/learning_analytics/chapter_time.js')}"></script>
</%block>
<script>
	var TIME_DUMP=JSON.parse('${time_dump}'.replace(/&quot;/ig,'"'));
	var SU_ACCESS=('${instructor_access}' === 'True') || ('${staff_access}' === 'True');
	var COURSE_ID='${course_id}';
</script>
<section>
	<div class="sidebar">
		<h2>Chapter Time</h2>
		
		% if instructor_access or staff_access:
		<p>
			This visualization shows the time elapsed in each chapter of the course. Click in one section in order to 
			divide it in graded, ungraded and chapter time. You can filter by all the students, each student individually or by students' groups (by grades).
		</p>
		<br/>
		<h5>Options</h5>
		<select id="chapter_time_options">
			<option value="all" selected>All students</option>
			<option value="student">Select student</option>
			<option value="group">Select student group</option>
		</select>
		% else:
		<p>
			This visualization shows your time elapsed in each chapter of the course. Click in one section in order to 
            divide it in graded, ungraded and chapter time.
		</p>
		<select id="chapter_time_options" style='display:none'>
			<option value="all">All students</option>
			<option value="student" selected>Select student</option>
			<option value="group">Select student group</option>
		</select>
		% endif
		
		<select id="chapter_time_student" style='display:none'>
			% for student in students:
				<option value="${student['id']}">${student['name']}</option>
			% endfor
		</select>
		
		<select id="chapter_time_group" style='display:none'>
			<option value="prof">Proficiency students</option>
			<option value="pass">Pass students</option>
			<option value="fail">Fail students</option>
		</select>
	</div>
	<!--Div that will hold the stacked bar chart-->
	<div class="graph" id="chart_chapter_time"></div>
	
	<div class="legend">
		<h3 id="chapter_time_legend_title"></h3>
		<ul id="chapter_time_legend_list">
		</ul>
	</div>
</section>
