<%! from django.utils.translation import ugettext as _ %>
<%! import ast %>
<%inherit file="../main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <!-- Load the Visualization API and the charts packages. -->
 <script>
   google.load('visualization', '1.0', {'packages':['corechart', 'timeline']});
 </script>

<script type="text/javascript"> 

var COURSE_ID='${course_id}';

function change_section(clicked_id) {
	
	reset_elements();
	
	if(clicked_id == "a_exercise_visualizations")
		{
		document.getElementById("a_exercise_visualizations").className = "active-section";
		document.getElementById("div_exercise_visualizations").style.display = "";
		// Reload of visualizations for correct resizing
		LA_student_grades.drawChart();
		
		if ('${instructor_access}' == 'True' || '${staff_access}' == 'True')
		{
			LA_course_sort_students.drawChart();
		}
		
		drawChart3(${problem_distrib_json});
		}
	else if(clicked_id == "a_video_visualizations")
		{
		document.getElementById("a_video_visualizations").className = "active-section";
		document.getElementById("div_video_visualizations").style.display = "";
		// Reload of visualizations for correct resizing
		drawChart1(${video_prog_json});
		drawChart2(${video_distrib_json});
		drawChart4(${video_intervals_array});
		drawChart6(${scatter_array});
		}
	else if(clicked_id == "a_course_activity_visualizations")
       {
       document.getElementById("a_course_activity_visualizations").className = "active-section";
       document.getElementById("div_course_activity_visualizations").style.display = "";
       // Reload of visualizations for correct resizing
       drawChart5(${vid_and_prob_daily_time});
       LA_course_accesses.drawChart();
       LA_chapter_time.drawChart();
       LA_vid_prob_prog.drawChart();
       LA_student_time_schedule.drawChart();
       }
}

function reset_elements()
{	
	   document.getElementById("a_exercise_visualizations").className = "";
	   document.getElementById("a_video_visualizations").className = "";
	   document.getElementById("a_course_activity_visualizations").className = "";
	    
	   document.getElementById("div_exercise_visualizations").style.display = "none";
	   document.getElementById("div_video_visualizations").style.display = "none";
	   document.getElementById("div_course_activity_visualizations").style.display = "none";	   
	}

</script>

<%include file="/xinsider/update_chart.html" />
</%block>

<%block name="pagetitle">${_("{course_number} Learning Analytics").format(course_number=course.display_number_with_default)}</%block>

<%include file="/dashboard/_dashboard_prompt_midcourse_reverify.html" />
<%include file="/courseware/course_navigation.html" args="active_page='learning_analytics'" />

<body>
<div class="container">
	<div class="profile-wrapper">
		<div class="learning-analytics">
			<header>
				<h1>${_("Learning Analytics for course: {course}").format(course=course.display_name)}</h1>
			</header>

			% if instructor_access or staff_access:
            <h2>Dashboard for Instructors</h2>
            % else:
            <h2>Dashboard for Students</h2>
            % endif
            
			<div class="instructor-dashboard-wrapper-2">
                <section class="instructor-dashboard-content-2" id="learning-analytics-dashboard-content">
				    <ul class="instructor-nav">
				        <li class="nav-item"><a href="#" id="a_exercise_visualizations" onclick="change_section(this.id);">Problem visualizations</a></li>
				        <li class="nav-item"><a href="#" id="a_video_visualizations" onclick="change_section(this.id);">Video visualizations</a></li>
				        <li class="nav-item"><a href="#" id="a_course_activity_visualizations" onclick="change_section(this.id);">Course activity visualizations</a></li>
				    </ul>
				</section>
			</div>

			<div class="visualizations">

				<div id="div_exercise_visualizations"   style="display: none;">
				    % if instructor_access or staff_access:             
	                    <%include file="course_sort_students.html" />
	                % endif                                
	                <%include file="students_grades.html" />
	                <%include file="problem_time_distribution.html" />
				</div>
				
				<div id="div_video_visualizations"   style="display: none">				
		            <%include file="video_progress.html" />
		            <%include file="rep_video_intervals.html" /> 
		            <%include file="video_time_distribution.html" /> 
		            <%include file="video_event_distribution.html" />
	            </div>
	            
	            <div id="div_course_activity_visualizations"   style="display: none;">	            	            
	                <%include file="vid_prob_progress.html" />
	                <%include file="daily_time_ex_vid.html" />	                	                                
	                <%include file="course_accesses.html" />	                
	                <%include file="chapter_time.html" />	         
	                <%include file="students_time_schedule.html" />						
	            </div>
			</div>
		</div>
		<%include file="/xinsider/select_adjustments.html" />
	</div>
</div>
</body>
