<%namespace name='static' file='/static_content.html'/>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!--Load test graph -->
<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/learning_analytics/students_grades.js')}"></script>
</%block>
<script>
	var STD_GRADES_DUMP=JSON.parse('${std_grades_dump}'.replace(/&quot;/ig,'"'));
	var PASS_LIMIT='${pass_limit}';
	var PROF_LIMIT='${prof_limit}';
	var SU_ACCESS=('${instructor_access}' === 'True') || ('${staff_access}' === 'True');
	var COURSE_ID='${course_id}';
</script>
<section>
	<div class="sidebar">
		<h2>Students Grades</h2>
		
		
		% if instructor_access or staff_access:
		<p>
			This visualization shows the average grade in each category of resource in the course. You can filter by all the students, each student individually or by students' groups (by grades). Click on a bar in order to see the results decomposed in each item within the category.
		</p>
		<br/>
		<h5>Options</h5>
		<select id="students_grades_options">
			<option value="all" selected>All students</option>
			<option value="student">Select student</option>
			<option value="group">Select student group</option>
		</select>
		% else:
		<p>
			This visualization shows your average grade in each category of resource in the course. Click on a bar in order to see the results decomposed in each item within the category.
		</p>
		<select id="students_grades_options" style='display:none'>
			<option value="all">All students</option>
			<option value="student" selected>Select student</option>
			<option value="group">Select student group</option>
		</select>
		% endif
		
		<select id="students_grades_student" style='display:none'>
			% for student in students:
				<option value="${student['id']}">${student['name']}</option>
			% endfor
		</select>
		
		<select id="students_grades_group" style='display:none'>
			<option value="prof">Proficiency students</option>
			<option value="pass">Pass students</option>
			<option value="fail">Fail students</option>
		</select>
	</div>
	<!--Div that will hold the stacked bar chart-->
	<div class="graph" id="students_grades_chart"></div>
	
	<div class="legend">
		<h3 id="students_grades_legend_title"></h3>
		<ul>
			<li><span style='background:#4c9900;'></span>Proficiency</li>
			<li><span style='background:#E5C80B;'></span>OK</li>
			<li><span style='background:#B20000;'></span>Fail</li>
		</ul>
	</div>
</section>
